

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">@Sruthi Vinod</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" >    <!--ml-auto to align right-->
        <li class="nav-item ">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" href="about.html">About</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="timeline.html">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="projects.html">Projects</a>
        </li>
        <li class="nav-item active"><!--active means to highlight the contactme tab-->
          <!-- <a class="nav-link disabled" href="contact.html">Contact</a> --> <!-- "to disable item in navbar put 'disabled' in the navbar-->
          <a class="nav-link disabled" href="contact.html">Contact Me</a> 
        </li>
      </ul>
    </div>
  </nav>